.icons-items {
  background: #EEEEEE;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 0 60px;
}

.icons-item {
  margin: 20px 40px;
  width: 150px;
  height: 150px;
}

.\#product-meta .icons-item {
  width: 31%;
  height: 31%;
  margin: 0;
}

.\#product-meta .icons-items {
  padding: 0;
  justify-content: space-around;
}

.icons-item__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media only screen and (max-width:900px) {
  .icons-item {
      margin: 20px 10px;
  }
}

@media only screen and (max-width:600px) {
  .icons-item {
      width: 115px;
      height: 115px;
  }
}